body{
	background-color: white;
	text-align: center;
	margin: 0;
}

#infoCover{
	position: relative;
	width: 100%;
	padding: 20px 0 20px 0;
	margin: 0;
}

.details{
	text-align: center;
	width: 50%;
	margin: auto;
}

.extra{
	display: none;
}

#nav{
	background-color: rgba(0,0,0,0.7);
	border-color: gray;
}

h1 {
	font-size: 40px;
}

h3{
	font-style: italic;
}

p {
	font-size: 20px;
}

section {
	text-align: left;
	width: 60%;
	margin: auto;
	padding: 100px;
	color: black;
	background-color: white;
	opacity: 0.9;
}

#infoCover {
	background-color: #0F1626;
	color: #F5F5F5;
	box-shadow: 0px 10px 10px black;
	z-index:1;
}

#virtualDrop{
	opacity: 0.5;
	width: 80px;
	margin-top: 40px;
}

#virtualDrop:hover{
	opacity: 0.7;
}

#virtualCutLogo{
	position: absolute;
	margin: 0;
	bottom: 0;
	right: 100px;
	width: 300px;
	opacity: 0.7;
}

#profilePic {
	width: 200px;
}

#background{
	text-align: center;
}

#myLogo{
	position: absolute;
	height: 200px;
	left: 100px;
	bottom: 0;
	opacity: 0.8;

}