@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);   /* Firefox 16+, IE 10+, Opera */
    }
}


@keyframes current {
    0%   {  background: -webkit-linear-gradient(left, #0F1626, #0F1626); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right,#0F1626, #0F1626); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #0F1626, #0F1626); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #0F1626, #0F1626); /* Standard syntax */
        }
    75%   {  background: -webkit-linear-gradient(left, #0F1626, #0F1626); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right,#0F1626, #0F1626); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #0F1626, #0F1626); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #0F1626, #0F1626); /* Standard syntax */
        }
    80%  { background: -webkit-linear-gradient(left, white , #0F1626, #0F1626, #0F1626); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, white , #0F1626, #0F1626, #0F1626); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, white ,#0F1626, #0F1626, #0F1626); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, white ,#0F1626, #0F1626, #0F1626); /* Standard syntax */
        }
    85%  { background: -webkit-linear-gradient(left, black, white, black, black); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, black, white, black, black); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, black, white, black, black); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, black, white, black, black); /* Standard syntax */
        }
    90%  { background: -webkit-linear-gradient(left, black, black, white, black); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, black, black, white, black); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, black, black, white, black); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, black, black, white, black); /* Standard syntax */
        }
    95%  { background: -webkit-linear-gradient(left, black, black, black, white); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, black, black, black, white); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, black, black, black, white); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, black, black, black, white); /* Standard syntax */
        }
    100%  { background: -webkit-linear-gradient(left, #0F1626, #0F1626, #0F1626); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #0F1626, #0F1626, #0F1626); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #0F1626, #0F1626, #0F1626); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #0F1626, #0F1626, #0F1626); /* Standard syntax */
        }
}
