body {
	margin: 0px;
	background-color: #F5F5F5;
	text-align: center;
	color: #D1D3CF;
}


h1 {
	font-size: 40px;
}

html{
	height: 100%;
}

p {
	font-size: 20px;
}

section h1{
	font-size: 70px;
}

section p{
	font-size: 35px;
}

.main {
	margin-left: 100px;
	margin-right: 100px;
}

#logo{
	position: relative;
	display:block;
	opacity: 0.3;
	left: 150px;
	top: 100px;
	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#title{
	padding: 0;
	margin-top: 0;
	width: 100%;
	height: 100vh;
	background-color: #0F1626;
	display: block;
	color: #F5F5F5;
	font-family: "Arial Black", Gadget, sans-serif;
	margin: 0;
}

#title h1, #title h2{
	left: 500px;
	position: absolute;
}

#title h1{
	top: 200px;
	font-size: 100px;
}

#title h2{
	top: 400px;

}

#title button{
	position: absolute;
	left: 500px;
	top: 480px;
}

#mygif{
	height: 40px;
	width: 100px;
}

#toolbar {
	position: absolute;
	right: 200px;
	bottom: 50px;
	padding: 10px;
	margin: 0;	
}

#gifarrow{
	width: 20px;
	display: block;
	padding-bottom: 16px;
	margin: auto;
}

#tools {
	text-align: center;
	display: none;
}

#tools img {
	width: 50px;
	display: block;
	margin: auto;
	padding: 20px;
	opacity: 0.5;
	cursor: pointer;
	border-radius: 2em 2em 2em 2em;
}

#tools img:hover{
	opacity: 1;
}

section {
	padding: 50px;
	width: 80%;
	margin: auto;
	margin-top: 300px;
	margin-bottom: 100px;
	text-align: center;
	padding: 50px;
}

section:last-of-type{
	padding-bottom: 400px;
}



#downScroll {
	position: absolute;
	left: 0px;
	right:0px;
	bottom: 40px;
	
}

#downScroll:hover {
	opacity: 0.5;
}

#coverImg {
	margin-top: 170px;
	margin-bottom: 200px;
	width: 400px;
}

.mainSection {
	width: 100%;
}

#aboutMe {
	background-color: black;
	color: white;
	height: 1000px;
}

#portfolio, #reflection {
	background-color: #0F1626;
	color: #F5F5F5;
	opacity: 0.9;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
}

#portfolio h1{
	margin: 0;
}
