body {
	margin: 0px;
	background-color: #F5F5F5;
	text-align: center;
	color: #D1D3CF;
	overflow: hidden;
}

.main {
	margin-left: 100px;
	margin-right: 100px;
}

#subheading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	pointer-events: none;
	z-index: 2;
}

	#subheading-wrapper .top {
		position: absolute;
		pointer-events: auto;
		text-align: center;
		top:0;
		left: 0;
		width: 100%;
		height: 5%;
		padding: 20px;
		cursor: pointer;
	}

	#subheading-wrapper .right {
		position: absolute;
		pointer-events: auto;
		text-align: center;
		top:0;
		right: 0;
		width: 5%;
		height: 100%;
		padding: 20px;
		cursor: pointer;
	}

		#subheading-wrapper .right .text {
			/* Safari */
			-webkit-transform: rotate(-90deg);
			/* Firefox */
			-moz-transform: rotate(-90deg);
			/* IE */
			-ms-transform: rotate(-90deg);
			/* Opera */
			-o-transform: rotate(-90deg);
			/* Internet Explorer */
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

			font-size: 40px;
			position: relative;
			top: 0;
			right: 27px;
			/*transform-origin: 50% 50%;*/
			top: 50%;
		}

		#subheading-wrapper .right .orb {
			top: calc(50% - 25px);
			right: 20px;
		}

		#subheading-wrapper .right .cogwheel {
			top: calc(50% - 25px);
			right: 20px;
		}

			#subheading-wrapper .right .large {
				width: 50px;
				height: 50px;
			}

			#subheading-wrapper .right .small {
				width: 20px;
				height: 20px;
				margin: 15px;
			}


	#subheading-wrapper .left {
		position: absolute;
		pointer-events: auto;
		text-align: center;
		top:0;
		left: 0;
		width: 5%;
		height: 100%;
		padding: 20px;
		cursor: pointer;
	}

		#subheading-wrapper .left .text {
			/* Safari */
			-webkit-transform: rotate(90deg);
			/* Firefox */
			-moz-transform: rotate(90deg);
			/* IE */
			-ms-transform: rotate(90deg);
			/* Opera */
			-o-transform: rotate(90deg);
			/* Internet Explorer */
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

			font-size: 40px;
			position: relative;
			top: 0;
			left: 27px;
			/*transform-origin: 50% 50%;*/
			top: 50%;
		}

		#subheading-wrapper .left .orb {
			top: calc(50% - 25px);
			left: 20px;
		}

		#subheading-wrapper .left .cogwheel {
			top: calc(50% - 25px);
			left: 20px;
		}

			#subheading-wrapper .left .large {
				width: 50px;
				height: 50px;
			}

			#subheading-wrapper .left .small {
				width: 20px;
				height: 20px;
				margin: 15px;
			}

/*
		#subheading-wrapper .top .text {

			font-size: 40px;
			position: relative;
			left: calc(50%-20px);
			top: 27px;
		}

		#subheading-wrapper .top .orb {
			right: calc(50% - 25px);
			top: 20px;
		}

		#subheading-wrapper .top .cogwheel {
			right: calc(50% - 25px);
			top: 20px;
		}

			#subheading-wrapper .top .large {
				width: 50px;
				height: 50px;
			}

			#subheading-wrapper .top .small {
				width: 20px;
				height: 20px;
				margin: 15px;
			}*/


	#subheading-wrapper .orb {
		position: absolute;
		width: 10px;
		height:10px;
		opacity: 0.8;
		border-radius: 5px;
		margin: 20px;
	}

	#subheading-wrapper .cogwheel {
		position: absolute;
		opacity: 0.5;
	}

.highlighted {
    background: rgba(255, 255, 255, .05);
}

#logo{
	position: absolute;
	display:block;
	opacity: 0;
	left: 30%;
	top: 20%;
	z-index: 100;
}
	
#title{
	padding: 0;
	margin-top: 0;
	width: 100%;
	height: 100vh;
	background-color: #0F1626;
	display: block;
	color: #F5F5F5;
	font-family: "Arial Black", Gadget, sans-serif;
	margin: 0;
	pointer-events: none;
}

#title .text {
	position: absolute;
	text-align: left;
	top: 40%;
	left: 40%;
	pointer-events: auto;
	opacity: 0;
}

#title h1, #title h2{
	color: white;
	z-index: 101;
	margin: 0;
}

#title h1{
	font-size: 100px;
	color: white	;
}

#title h2{

}

#particles-js {
	background-color: #0F1626;
	position: absolute;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	z-index: 0;
}