body {
	margin: 0;
	padding: 0;
	background-color: black;
}

section {
	position: relative;
	width: 100%;
}

#cover{
	height: 100vh;
	background-image: url("../images/dark_background.jpg");
	background-size: cover;
	background-color: black;
}

#cover .quote {
	position: relative;
	color: white;
	opacity: 0.5;
	font-size: 5vh;
	margin: auto;
	padding: 30vh;
	text-align: center;
	z-index: 100;
}

#cover img {
	position: absolute;
	height: 80%;
	bottom: 0;
	left: 0;
}

#background {
	background-color: #0F1626;
	padding: 100px 0 100px 0;
}

#background p {
	text-align: center;
	font-size: 60px;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	color: white;
	opacity: 0.7;
	padding: 100px;
}

#experiences {
	background-color: #6B82A8;
	height: 100vh;
	opacity: 0.8;
}

.content {
	padding: 100px;
	text-align: center;
}

h1 {
	color: white;
	opacity: 0.9;
	font-size: 60px;
}